@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font: 'Helvetica Neue', sans-serif;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #252525;
  overflow: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: #252525;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      40% 0%,
      75% 84%,
      from(#ff4500),
      to(#f5551b))
}

.stars-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.star,
.star::after,
.star::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: -650px;
  background-image:
    radial-gradient(2px 2px at 100px 40px, #fff, transparent),
    radial-gradient(2px 2px at 210px 150px, #fff, transparent),
    radial-gradient(2px 2px at 350px 230px, #fff 50%, transparent),
    radial-gradient(2px 2px at 390px 350px, #fff 50%, transparent),
    radial-gradient(2px 2px at 540px 120px, #fff 50%, transparent),
    radial-gradient(2px 2px at 50px 210px, #fff 50%, transparent),
    radial-gradient(2px 2px at 130px 320px, #fff 50%, transparent),
    radial-gradient(2px 2px at 280px 420px, #fff 50%, transparent),
    radial-gradient(2px 2px at 350px 510px, #fff 50%, transparent);
  background-size: 670px 650px;
  animation: starsAnimate 20s linear;
  animation-iteration-count: infinite;
}

.star::after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 10s;
}

.star::before {
  margin-left: -400px;
  margin-top: 200px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 20s;
}

@keyframes starsAnimate {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-650px);
  }
}

#name-heading::before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #00ff7f;
  font-size: 18px;
  position: absolute;
  margin-top: -10px;
  left: -30px;
  opacity: 0.8;
  line-height: 18px;
}

#name-heading::after {
  content: '</h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #00ff7f;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  left: -50px;
  bottom: -20px;
  margin-left: 20px;
  opacity: 0.8;
}

span {
  display: inline-block;
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cubespinner>div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}

.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {

  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

.tagcloud--item:hover {
  color: #00ff7f;
}

#textarea::-webkit-scrollbar {
  width: 0;
}